src/main/resources/xsd/playlists.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://musicfy.viniciusdev26.github.com/soap/playlists"
           targetNamespace="http://musicfy.viniciusdev26.github.com/soap/playlists"
           elementFormDefault="qualified">

    <xs:element name="GetPlaylistsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:long" minOccurs="0"/>
                <xs:element name="systemOnly" type="xs:boolean" minOccurs="0"/>
                <xs:element name="page" type="xs:int" minOccurs="0"/>
                <xs:element name="pageSize" type="xs:int" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetPlaylistsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="playlists" type="tns:PlaylistSoapDto" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="totalCount" type="xs:int"/>
                <xs:element name="page" type="xs:int" minOccurs="0"/>
                <xs:element name="pageSize" type="xs:int" minOccurs="0"/>
                <xs:element name="totalPages" type="xs:int" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreatePlaylistRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="userId" type="xs:long" minOccurs="0"/>
                <xs:element name="musicIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreatePlaylistResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="playlist" type="tns:PlaylistSoapDto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="PlaylistSoapDto">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="userId" type="xs:long" minOccurs="0"/>
            <xs:element name="isSystemPlaylist" type="xs:boolean"/>
            <xs:element name="createdAt" type="xs:dateTime"/>
            <xs:element name="ownerName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
