src/main/resources/xsd/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://musicfy.viniciusdev26.github.com/soap/users"
           targetNamespace="http://musicfy.viniciusdev26.github.com/soap/users"
           elementFormDefault="qualified">

    <xs:element name="GetUsersRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page" type="xs:int" minOccurs="0"/>
                <xs:element name="pageSize" type="xs:int" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetUsersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="users" type="tns:UserSoapDto" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="totalCount" type="xs:int"/>
                <xs:element name="page" type="xs:int" minOccurs="0"/>
                <xs:element name="pageSize" type="xs:int" minOccurs="0"/>
                <xs:element name="totalPages" type="xs:int" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="birthDate" type="xs:date"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:UserSoapDto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="UserSoapDto">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="birthDate" type="xs:date"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="age" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
